# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/
.venv/

# Ignore coverage and test reports
htmlcov/
.coverage
.coverage.*
pytest_cache/
test_results/

# Ignore temporary and backup files
*.log
*.tmp
*~

# Ignore build and distribution files
build/
dist/
*.egg-info/

# Ignore IDE/editor config
.idea/
.vscode/

# Ignore notebook checkpoints
.ipynb_checkpoints

# Ignore Jupyter configuration files
etc/jupyter/

# Ignore Python virtual environment configuration
pyvenv.cfg


# Ignore unnecessary Jupyter and tutorial outputs
docs/tutorials/*.ipynb_checkpoints
docs/tutorials/__pycache__/
docs/tutorials/*.pyc

# Ignore shell and script cache
shell/__pycache__/
shell/*.pyc

# Ignore unnecessary Lib and Script files (specific to virtual environments)
Lib/
Scripts/
share/
